<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.mysql.tx.isolation.generator.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.tony.mysql.tx.isolation.generator.domain.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="goodId" column="good_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,good_id,user_id,
        update_at,create_at
    </sql>
</mapper>
